<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    {% include head.html %}

  </head>

  <body>

    {% include navigation.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <h2>A sub-heading</h2>
            <p>Some words here about our hack day, overall aims and objectives</p>
            <p><a class="btn btn-primary btn-lg" href="/on-the-day/" role="button">What will happen on the day &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <p><img src="http://placehold.it/450x300" /></p>
          </div>
        </div>
        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Getting Here</h2>
          <p><img src="http://placehold.it/450x300" /></p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="/getting-here/" role="button">How to get here &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Before the day</h2>
          <p><img src="http://placehold.it/450x300" /></p>
          <h4>Stuff you need to do &amp; things you need to bring</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="/before-the-day/" role="button">What you need to do &raquo;</a></p>
          
        </div>
        <div class="col-md-4">
          <h2>Resources</h2>
          <p><img src="http://placehold.it/450x300" /></p>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="/resources/" role="button">Stuff you&apos;ll find useful &raquo;</a></p>
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
