<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    {% include head.html %}

  </head>

  <body>

    {% include navigation.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron panel-bg panel-bg_museum-interior">
      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <h1>#TBhackday2015</h1>
            <h2>26th March 2015, Museum of Scotland</h2>
            <p>We’re delighted that you’ll be joining us at our first ever inter-university hackday. With some interesting puzzles and some great prizes, we’re hoping you can make this a real success. Whether you feel most at home building front ends, integrating with web services, or coming up with cutting edge digital business propositions, we hope to have some challenges that will test and inspire you. Who knows &ndash; you could be going home with a new iPad!</p>
            <p><a class="btn btn-primary btn-lg" href="/on-the-day/" role="button">What will happen on the day &raquo;</a></p>
          </div>

        </div>
        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Getting Here</h2>
          <p class="media-container_3-2 media-container_450x300"><iframe class="media" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.138521188781!2d-3.190862000000004!3d55.94697100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c784d1bae421%3A0x88cc2703f2beb5c3!2sNational+Museum+of+Scotland!5e0!3m2!1sen!2suk!4v1425562058796" frameborder="0" style="border:0"></iframe></p>
          <p>We’ll be at the amazing National Museum of Scotland in Edinburgh. With displays and events ranging from the age of the dinosaurs all the way through to the technology of the future, there’s sure to be something to inspire everyone. We’ve also managed to get all participants tickets to the Game Masters exhibition on the day, so be sure to check out the exhibition which has over 100 playable games &ndash; from 1970s pioneers to modern classics.</p>
          <p><a class="btn btn-default" href="/getting-here/" role="button">How to get here &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Before the day</h2>
          <p><img src="/img/hackday-2.jpg" /></p>
          <p>To be honest, all we need is your creativity and your enthusiasm. But there are some things you can do to help you get the most of out of the hack. The main things are:</p>
          <ul>
            <li>Look at the <a href="/resources/">resources</a> section in advance of the hack. We’ll be building from scratch on the day; but practice makes perfect!</li>
            <li>Take a look at our <a href="http://tescobankgraduates.com/">tescobankgraduates.com</a> website, to get an idea of what we look for in our graduates and the graduate programme.</li>
            <li>Decide what tech you’ll need to be at your best. There will be a small number of devices available on the day; but we’d really recommend that you bring your own device that you’re comfortable with &ndash; especially if you expect to be coding on the day.</li>
          </ul>
          <p><a class="btn btn-default" href="/before-the-day/" role="button">What you need to do &raquo;</a></p>
          
        </div>
        <div class="col-md-4">
          <h2>Resources</h2>
          <p><img src="/img/hackday-1.jpg" /></p>
          <p>A day isn’t long, so we’ll be looking for your creativity as much as anything else. This can show just as easily on paper as on screen. However, we know that some of you will be keen to build something that actually works &ndash; and we’d love to see it. The resources section gives you early access to some of the assets you’ll have the opportunity to work with on the day.</p>
          <p><a class="btn btn-default" href="/resources/" role="button">Stuff you&apos;ll find useful &raquo;</a></p>
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
