<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    {% include head.html %}

  </head>

  <body>

    {% include navigation.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>

      {{ page.content }}

      <!-- row -->
      <div class="row">

        {% for person in site.data.team.people %}

          <!-- panel -->
          <div class="col-md-4">
            <div class="panel panel-default panel-team-bio">
              
              <img src="{{ person.photo-url }}" alt="">

              <div class="panel-body">
                <h3 class="media-heading">{{ person.name }}</h3>
                <p><strong>Spirit Animal: {{ person.spirit-animal }}</strong></p>
                <p>{{ person.job-description }}</p>
                <p>{{ person.bio }}</p>
                <h4>Expertise:</h4>
                <ul>
                  {% for skill in person.expertise %}
                    <li>{{ skill }}</li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
          <!-- /panel -->

          {% if forloop.index == 3 or forloop.index == 6 or forloop.index == 9 or forloop.index == 12 or forloop.index == 15 or forloop.index == 18 or forloop.index == 21 or forloop.index == 24 or forloop.index == 27 or forloop.index == 30 %}
            </div>
            <div class="row">
          {% endif %}

        {% endfor %}

      </div>
      <!-- /row -->
      
      {% include footer.html %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
